# Visual Studio user-specific and config files
.vs/
TestAboutCapitals/.vs/
TestAboutCapitals/bin
TestAboutCapitals/obj
*.exe.config
*.exe
*.pdb

# Local generated data
TestAboutCapitals/assets/files/dboScoreboard.txt

